@model Authoring.WebRole.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Users - Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role.Role1)
    </div>

    <div class="display-label">CreatedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User2.UserName)
    </div>

    <div class="display-label">ModifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User3.UserName)
    </div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">ModifiedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
