@model Authoring.WebRole.Models.LicenseType

@{
    ViewBag.Title = "Create";
}

<h2>LicenseType - Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>LicenseType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseType1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseType1)
            @Html.ValidationMessageFor(model => model.LicenseType1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseURL)
            @Html.ValidationMessageFor(model => model.LicenseURL)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.CreatedBy, "User")
        </div>
        <div class="editor-field" style="display:none;">
            @Html.DropDownList("CreatedBy", String.Empty)            
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.ModifiedBy, "User1")
        </div>
        <div class="editor-field" style="display:none;">
            @Html.DropDownList("ModifiedBy", String.Empty)
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.CreatedOn)            
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.ModifiedOn)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.ModifiedOn)
            @Html.ValidationMessageFor(model => model.ModifiedOn)
        </div>

        <div class="editor-label" style="display:none;">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field" style="display:none;">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
