@model Authoring.WebRole.Models.LicenseType

@{
    ViewBag.Title = "Details";
}

<h2>LicenseType - Details</h2>

<fieldset>
    <legend>LicenseType</legend>

    <div class="display-label">LicenseType1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicenseType1)
    </div>

    <div class="display-label">LicenseURL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LicenseURL)
    </div>

    @*<div class="display-label">CreatedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">ModifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User1.UserName)
    </div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">ModifiedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
