@model Authoring.WebRole.Models.Exhibit

@{
    ViewBag.Title = "Details";
}

<h2>Exhibit - Details</h2>

<fieldset>
    <legend>Exhibit</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Threshold</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Threshold.Threshold1)
    </div>

    <div class="display-label">Regime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Regime.Regime1)
    </div>

    <div class="display-label">ContentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentDate)
    </div>

    <div class="display-label">ContentYear</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentYear)
    </div>

    <div class="display-label">TimeUnit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeUnit.TimeUnit1)
    </div>

    <div class="display-label">IsVisible</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVisible)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
