@model IEnumerable<Authoring.WebRole.Models.Regime>

@{
    ViewBag.Title = "Index";
}

<h2>Regime</h2>

<p>
    @if (ViewBag.write)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<table>
    <tr>
        <th>
            Regime1
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Regime1)
        </td>
        <td>
        @if(ViewBag.delete) 
        {
 
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })  
            @String.Format("{0}", "|");
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @String.Format("{0}", "|");
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            
        }
        else if (ViewBag.write)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
            @String.Format("{0}", "|");
            @Html.ActionLink("Details", "Details", new { id = item.ID })
        }
        else if (ViewBag.read)
        { 

            @Html.ActionLink("Details", "Details", new { id = item.ID })

        }            
        </td>
    </tr>
}


</table>
