@model Authoring.WebRole.Models.AuthoringTableRolePermission

@{
    ViewBag.Title = "Details";
}

<h2>AuthoringRolePermissions - Details</h2>

<fieldset>
    <legend>AuthoringTableRolePermission</legend>

    <div class="display-label">AuthoringTable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthoringTable.AuthoringTable1)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role.Role1)
    </div>

    <div class="display-label">Permission</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Permission)
    </div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">CreatedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">ModifiedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">ModifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User1.UserName)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AuthoringTableRolePermissionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
