@model Authoring.WebRole.Models.Permission

@{
    ViewBag.Title = "Create";
}

<h2>Permissions - Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Permission</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Permission1, "Permission")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Permission1)
            @Html.ValidationMessageFor(model => model.Permission1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IntRepresentation, "Value")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IntRepresentation)
            @Html.ValidationMessageFor(model => model.IntRepresentation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
