@model Authoring.WebRole.Models.ExhibitReferenceEntity

@{
    ViewBag.Title = "Delete";
}

<h2>ExhibitReference - Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ExhibitReferenceEntity</legend>

    <div class="display-label">Exhibit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Exhibit.Title)
    </div>

    <div class="display-label">Reference</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reference.Authors)
    </div>

    <div class="display-label">Order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">ModifiedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>

    <div class="display-label">User1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User1.UserName)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
