@model Authoring.WebRole.Models.ExhibitReferenceEntity

@{
    ViewBag.Title = "Edit";
}

<h2>ExhibitReference - Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ExhibitReferenceEntity</legend>

        @Html.HiddenFor(model => model.ExhibitReferenceID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ExhibitID, "Exhibit")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ExhibitID", String.Empty)
            @Html.ValidationMessageFor(model => model.ExhibitID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReferenceID, "Reference")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReferenceID", String.Empty)
            @Html.ValidationMessageFor(model => model.ReferenceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
